@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'lato', sans-serif;
}

header {
    background-image: url(assets/head/cover.svg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 1.4rem;

}

header nav img {
    width: 80px;
    height: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    padding: 0.5rem;
    margin-left: .8rem;
    font-size: 1rem;
    font-weight: 500;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}
nav ul li a:hover{
    color: #285A43;
    text-decoration: underline;
    cursor: pointer;
    transition: .5s;
}

nav ul li a button {
    background-color: transparent;
    color: #ffffff;
    border: solid 1px #ffffff;
    padding: 10px 30px;
    border-radius: 4px;
}
nav ul li a button:hover{
    background-color: #285A43;
    border: solid 1px #285A43;
    color: #ffffff;
    cursor: pointer;
    transition: .5s;
}
header .title h1 {
    text-align: center;
    color: #ffffff;
    padding-top: 200px;
    font-size: 60px;
    font-weight: 700;
}

header .title p {
    text-align: center;
    color: #ffffff;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 400;
}

header .title .buttons{
    text-align: center;
  
}
.buttons button {
    padding: 10px 30px;
    border-radius: 4px;
    color: #ffffff;
}
.buttons .book{
    background-color: #285A43;
    border: solid 1px #285A43;
    margin-right: 10px;
}
.buttons .book:hover{
    background-color: transparent;
    border: solid 1px #ffffff;
    color: #ffffff;
    cursor: pointer;
    transition: .5s;
}
.buttons .watch{
    background-color: transparent;
    border: solid 1px #ffffff;
}
.buttons .watch a{
    text-decoration: none;
    color: #ffffff;
}
.buttons .watch:hover{
    background-color: #285A43;
    border: solid 1px #285A43;
    color: #ffffff;
    cursor: pointer;
    transition: .5s;
}